.generatedTrip {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #9DE1F7;
  min-height: 100vh;
}

.tripDetails {
  width: 100%;
  max-width: 800px;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.tripDetails h1 {
  font-size: 2rem;
  margin-bottom: 20px;
  text-align: center;
}

.description, .activities {
  margin-bottom: 20px;
}

.description h2, .activities h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.activities ul {
  list-style-type: disc;
  padding-left: 20px;
  list-style-position: inside; /* Align bullet points with text */
}

.activities li {
  margin-bottom: 10px;
}

.flightDetails {
  width: 100%;
  max-width: 800px;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.flightDetails h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.flightDetails ul {
  list-style-type: none;
  padding-left: 0;
}

.flightDetails li {
  border: 1px solid #333;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #f9f9f9;
  color: #000;
}

.loader {
  position: relative;
  width: 150px;
  height: 150px;
  background: #212121;
  border-radius: 50%;
  box-shadow: inset 0px 0px 7px seagreen;
  border: 1px solid seagreen;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin: 0 auto;
}

.loader::before {
  content: "";
  position: absolute;
  inset: 20px;
  background: transparent;
  border: 1px solid seagreen;
  border-radius: 50%;
  box-shadow: inset 0px 0px 5px seagreen;
}

.loader::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid seagreen;
  box-shadow: inset 0px 0px 3px seagreen;
}

.loader span {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  background: transparent;
  transform-origin: top left;
  animation: radar81 2s linear infinite;
  box-shadow: -25px -75px 30px -50px seagreen;
  border-top: 2px solid #2e8b57;
}

.loader span::before {
  display: none;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 15%;
  height: 100%;
  background: seagreen;
  transform-origin: top left;
  transform: rotate(-90deg);
  filter: blur(15px) drop-shadow(10px 0px 10px seagreen);
}

@keyframes radar81 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.error {
  color: red;
  text-align: center;
}

.map {
  width: 100%;
  height: 400px;
  margin-bottom: 20px;
}

.imageContainer {
  width: 100%;
  max-width: 800px;
  text-align: center;
  margin-bottom: 20px;
}

.imageContainer img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}