.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #9EE0F7;
  height: 100px;
  padding: 0 20px;
  margin-bottom: 0;
}

.navbar-logo {
  text-align: center;
}

.logo {
  height: 100px;
  cursor: pointer;
}